body{
  margin: 0;
  text-align: center;
  background-color: #171717;
  font-family: 'Ubuntu', sans-serif;
}

h3, h2{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Press Start 2P', cursive;
}

.first-container{
padding-top: 40px;
 background-color: #D6D2C4;
 position: relative;
 height: 400px;

}

.chibi{
position: absolute;
 margin: auto;
  margin-top: 25px;
 left: 0;
 right: 0;
height: 265px;}


.middle-container{
  color: white;
}
